/* import fonts */
@font-face {
  font-family: "Source Sans";
  src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  src: url("fonts/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: "Source Sans";
  font-weight: bold;
  src: url("fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "Bitter";
  src: url("fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: "Bitter";
  src: url("fonts/Bitter-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: url("fonts/Bitter-Bold.ttf");
  font-weight: bold;
}

.red {
         color: red;
 }

 .blue {
         color: #03b6fc;
 }

 .green {
         color: #95d147;
 }
/* overhead navigation bar*/
.navbar {
  background: #36a4e3 !important; /* overhead navigation bar color */
  font-size: 1rem;
}

/* navigation bar: text*/
.navbar a {
  color: white !important;
  font-family: "Source Sans";
  font-size: 1.3rem;
  transition-duration: 0.4s;
  margin-right: 10px;
}

/* navigation bar: text color of page titles when hovered*/
.navbar a:hover {
  color: #2f401f !important;
  transition-duration: 0.4s;
}

/* navigation bar: when page title is selected*/
.navbar-nav > .active > .nav-link {
  background-color: #9dc0d4 !important; /* selected text background fill */
  color: white !important; /* selected text colour*/
  font-weight: normal !important;
  transition-duration: 0.4s; /* how quickly to change*/
}

/* left side links */
.bd-links > .active a {
  color: #3c81be !important;
  transition-duration: 0.4s;
}

.bd-links > .active a:hover {
  color: #5fb5dc !important;
  transition-duration: 0.4s;
  transform: translate(2px, 0px);
}

/* right side links */
.toc-entry > .nav-link.active {
  font-weight: 600;
  color: #344b39;
  background-color: transparent;
  border-left: 2px solid #da714a;
}

/* body text*/
a {
  color: #0086b3;
}

a:hover {
  color: #004d66;
  text-decoration: none;
}

/* body links (external, add link icon) */
a.reference.external:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: ' \f35d';
  font-size: 0.5rem;
  vertical-align: super;
}

a.external-link:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: ' \f35d';
  font-size: 0.5rem;
  vertical-align: super;
}

p.card-reference {
  margin: 2.75rem 0 1.05rem;
  font-family: "Source Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 1.2rem;
}

/* header links */
a.headerlink {
  color: white;
  transition-duration: 0.2s;
}

a.headerlink:hover {
  color: #ceacca;
  background-color: white;
  transition-duration: 0.2s;
}

/* text fonts and colors */
body {
  background-color: white;
  margin-bottom: 1.15rem;
  font-size: 1rem;
  padding-top: 100px;
  color: #242c16;
  font-family: "Source Sans", sans-serif;
}

h1 {
    margin: 2.75rem 0 1.05rem;
    font-family: "Source Sans";
    font-weight: 400;
    line-height: 1.15;
    text-align: center;
    margin-top: 0;
    color: #242c16;
    font-size: 2rem;
}

h2 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Source Sans";
  font-weight: 500;
  line-height: 1.15;
  color: #242c16;
  font-size: 1.5rem;
}

h3 {
  margin: 0rem 0 1.05rem;
  font-family: "Source Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #242c16;
  font-size: 1.3rem;
}

h4 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Source Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #242c16;
  font-size: 1.1rem;
}

h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Source Sans", sans-serif;
  font-style: italic;
  font-weight: 550;
  line-height: 1.15;
  color: #242c16;
  font-size: 1.1rem;
}

h6 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Source Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.15;
  color: #242c16;
  font-size: 1rem;
}

/* define admonition colors */
.admonition.attention {
  border-color: #927a90;
}

.attention > .admonition-title {
  background-color: #efe8ef !important;
}

.attention > .admonition-title:before {
  color: #927a90 !important;
}

.admonition.note {
  border-color: #5fb5dc;
}

.note > .admonition-title {
  background-color: #d9e7f3 !important;
}

.note > .admonition-title:before {
  color: #5fb5dc !important;
}

.admonition.error {
  border-color: #da714a;
}

.error > .admonition-title {
  background-color: #f1d7c7 !important;
}

.error > .admonition-title:before {
  color: #da714a !important;
}

.admonition.warning {
  border-color: #da714a;
}

.warning > .admonition-title {
  background-color: #f1d7c7 !important;
}

.warning > .admonition-title:before {
  color: #da714a !important;
}

.admonition.danger {
  border-color: #da714a;
}

.danger > .admonition-title {
  background-color: #f1d7c7 !important;
}

.danger > .admonition-title:before {
  color: #da714a !important;
}

.admonition.caution {
  border-color: #f4d050;
}

.caution > .admonition-title {
  background-color: #f9f2d5 !important;
}

.caution > .admonition-title:before {
  color: #f4d050 !important;
}

.admonition.tip {
  border-color: #519141;
}

.tip > .admonition-title {
  background-color: #d1dac5 !important;
}

.tip > .admonition-title:before {
  color: #519141 !important;
}

.admonition.hint {
  border-color: #519141;
}

.hint > .admonition-title {
  background-color: #d1dac5 !important;
}

.hint > .admonition-title:before {
  color: #519141 !important;
}

/* logo */
.navbar-brand {
  position: relative;
  height: 60px;
  width: auto;
}

/* format search bar */
.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  outline: none;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.form-control:focus {
  outline: black !important;
  box-shadow: none !important;
  border: 1px !important;
}

form:focus {
  outline: black !important;
  box-shadow: none !important;
  border: 1px !important;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}

.card-img-top {
  margin-top: 4rem;
}

.col-lg-6 {
  margin-top: 2rem;
}

/* list line spacing */
/* ol.simple {
  margin-bottom: 1em;
}



ul.simple {
  margin-bottom: 1em;
}
*/
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

/* List items in main area, but not in side bars */
body > li,
p {
  line-height: 1.5;
  margin: 0.3rem 0;
  list-style-type: square;
}

/* ensure images stay within the column bounds*/
img {
  max-width: 100%;
}

/* allow center-aligned images*/

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* change color of Twitter logo */
i.fa-twitter-square:before {
  color: #333;
}

/* Added to be able to filter devices */

.container {
  margin-top: 20px;
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: white;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/* format Key Features list*/
.deviceFeatures {
  margin-top: 1rem;
  background-color: #dce4e8;
  padding: 0.1rem 1rem;
}

.deviceDescription {
  font-size: 1.2rem;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}
